# API Keys
frontend/Config.xcconfig

# Xcode
*.xcuserstate
*.xcuserdatad
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
Pods/

# Carthage
Carthage/Build/

# Swift Package Manager
.build/
.swiftpm/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
*.egg-info/
dist/
build/

# IDEs
.vscode/
.idea/

# macOS
.DS_Store
